<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/middle-pages-style.css" type="text/css">
    <title>Error</title>
</head>
<body>
<div class="alert-container" id="error">
    <div class="image-alert" id="alert-1">
        <img src="/images/alert.png">
    </div>

    <div class="text">
        <p>Vaya... Parece que algo ha ido mal. Prueba a volver a intentarlo. También puedes volver al</p><br>

        <div class="buttons-container">
            <a href="/" style="text-decoration: none">
                <button class="middle-button home">
                    <span>Inicio</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                    </svg>
                </button>
            </a>
        </div>
    </div>

    <div class="image-alert" id="alert-2">
        <img src="/images/alert.png">
    </div>
</div>

</body>
</html>