<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Productos</h2>

    {{#products}}
    <form method="post" action="/followProduct?id={{id}}">
        <p>{{id}} - {{name}} <br> {{prize}}</p>
        <a href="/product/{{id}}">
            <img src="/images/products/{{id}}.jpeg" width="500px" height="500px" />
        </a>
        <input type="submit" value="Añadir">
    </form>
    {{/products}}

    {{^products}}
    <p>No hay ningún producto</p>
    {{/products}}

    <a href="newProduct.html">Subir producto</a>

    <form action="/shoppingCart" method="get"><input type="submit" value="Carrtio"></form>

</body>
</html>