<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index-style.css" type="text/css">
    <link rel="stylesheet" href="/css/topBar-style.css" type="text/css">
    <script src="/js/user-menu.js"></script>
</head>
<body>

<div class="top-bar">
    <div class="logo-container">
        <a href="/"><img src="/images/logo.png"></a>
    </div>

    <div class="searchBar">
        <form action="/searchProduct" method="get">
            <label for="search">
                <input id="search" type="text" name="productName" required="" autocomplete="off" placeholder="Buscar producto">
                <div class="searchIcon">
                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="swap-on">
                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                </div>
                <button type="reset" class="close-btn">
                    <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" fill-rule="evenodd"></path>
                    </svg>
                </button>
            </label>
        </form>
    </div>
    <div class="top-bar-buttons-container">
        {{#admin}}
        <form action="/newProduct" method="get" class="right-bar-button-content">
            <button class="right-bar-button" id="new-product" type="submit">
                <span>Crear producto</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>            </svg>
            </button>
        </form>
        {{/admin}}

        {{#notLogged}}
        <form action="/login" method="get" class="right-bar-button-content">
            <button class="right-bar-button" id="identification" type="submit">
                <span>Login</span>
                <svg class="top-bar-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </button>
        </form>
        {{/notLogged}}

        {{#logged}}
        <div class="right-bar-button-content identification-container">
            <button class="right-bar-button identification_logged">
                <span>Opciones de {{userName}}</span>
                <svg class="top-bar-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                </svg>
            </button>
        </div>


        <div id="menuContainer" class="menu-container">
            {{#admin}}<a href="/adminPannel" id="adminPanelLink">Panel de administrador</a>{{/admin}}
            <a href="/modifyUser">Editar cuenta</a>
            <form action="/logout" method="post">
                <button type="submit" class="logout-button">Desconectar</button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
        {{/logged}}

        <form action="/shoppingCart" method="get" class="right-bar-button-content">
            <button class="right-bar-button" id="cart" type="submit">
                <span>Carrito</span>
                <svg class="top-bar-button-icon" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg>
            </button>
        </form>
    </div>
</div>
<hr>


<div class="filter-container">
    {{#incorrect_filter}}
    <p>Datos de filtros incorrectos</p>
    {{/incorrect_filter}}
    <form class="filter" action="/">
        <div class="input-price input-filter">
            <input name="min" type="number" min="0" class="form-control" placeholder="Precio mínimo">
        </div>
        <div class="input-price input-filter">
            <input name="max" type="number" min="0" class="form-control" placeholder="Precio máximo">
        </div>
        <div class="input-type input-filter">
            <select class="form-select" name="type">
                <option selected value="">Categoría</option>
                <option value="Farmacia">Farmacia</option>
                <option value="Comida">Comida</option>
            </select>
        </div>
        <div class="col">
            <input class="btn btn-outline-primary" type="submit" value="Search">
        </div>
    </form>
</div>



<div class="all-products">
    {{#products}}
    <div class="product-container">
        <form method="post" action="/followProduct?id={{id}}">
            <div class="product-interior">
                <div class="product-img">
                    <a href="/product/{{id}}">
                        {{#containsPhoto}}
                        <img src="/product/{{id}}/image"/>
                        {{/containsPhoto}}
                        {{^containsPhoto}}
                        <img src="/images/noImage.png">
                        {{/containsPhoto}}
                    </a>
                </div>
                <div class="product-text">
                    <h3><a href="/product/{{id}}" class="product-name">{{name}}</a></h3>
                    <p class="product-in-carts">Usuarios que lo añadieron a la cesta: {{numProductsInCarts}}</p>
                    <p class="product-price">{{price}} $</p>
                </div>
                <div class="button-add-cart">
                    <button type="submit" class="button-wrapper">
                        <div class="text">Comprar</div>
                        <span class="icon">
                            <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>
    {{/products}}
    {{^products}}
        <p class="noProducts">No hay ningún producto</p>
    {{/products}}
</div>
</body>
</html>