<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login-style.css" type="text/css">

</head>
<body>
    <form action="/login" method="post">
        <label>Username:</label><input type="text" name="username" /><br/>
        <label>Password:</label><input type="password" name="password" /><br/>
        <input type="submit" value="Sign In"/>
    </form>
    <a href="/register">Registrarse</a>



    <!--div class="wrapper">
        <div class="card-switch">
            <label class="switch">
                <input type="checkbox" class="toggle">
                <span class="slider"></span>
                <span class="card-side"></span>
                <div class="flip-card__inner">
                    <div class="flip-card__front">
                        <div class="title">Conectar</div>
                        <form class="flip-card__form" action="/login">
                            <input class="flip-card__input" name="username" placeholder="Username" type="text">
                            <input class="flip-card__input" name="password" placeholder="Password" type="password">
                            <button class="flip-card__btn">Entrar</button>
                        </form>
                    </div>
                    <div class="flip-card__back">
                        <div class="title">Registrarse</div>
                        <form class="flip-card__form" action="">
                            <input class="flip-card__input" name="username" placeholder="Username" type="text">
                            <input class="flip-card__input" name="password" placeholder="Password" type="password">
                            <button class="flip-card__btn">Crear</button>
                        </form>
                    </div>
                </div>
            </label>
        </div>
    </div-->
</body>
</html>