<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados de la búsqueda</title>
</head>

<header class="header">
    <a href="/">Home</a>
    <title>Resultados de la búsqueda</title>
</header>

<body>
<h2>Resultados de la búsqueda</h2><br>

{{#products}}
    <form method="post" action="/followProduct?id={{id}}">
        <p>{{id}} - {{name}} <br> {{prize}}</p>
        <a href="/product/{{id}}">
            <img src="http://127.0.0.1:8080/product/{{id}}/image" width="500px" height="500px" />
        </a>
        <input type="submit" value="Añadir">
    </form>
{{/products}}
{{^products}}
    <p>No hay ningún producto</p>
{{/products}}

<a href="/">Volver al inicio</a>
</body>

</html>
